#sidebar {
  height: 100vh;
}

#map {
  height: 100%;
  z-index: 1;
  border-radius: 15px;
}

.map-container {
  height: 400px;
}

.nav-link {
  padding-right: 1em;
}

.card-panel {
  border-radius: 15px;
  width: auto;
}

body {
  font-family: "Cinzel", serif;
  background-color: rgb(210, 220, 226);
  background-size: cover;
  cursor: default;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  background: #6cf;
}

* {
  box-sizing: border-box;
}

#sidebar {
  color: white;
}

.row {
  margin-bottom: 0%;
}

#header {
  opacity: 0.9;
}

#main-content {
  z-index: -1 !important;
}

#modal1 {
  color: black;
  border-radius: 15px;
}
span {
  font-size: medium !important;
  margin: 0;
}

#quote {
  opacity: 1 !important;
}

/* emailUS button effects and settings */
#emailUS {
  display: block;
  margin: auto;
  width: 120px;
  height: 30px;
  background: url("./images/emailme.gif");
}

#emailUS:hover {
  background-position: 0 40px;
}

/* styling for various screen sizes

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
} */
