#sidebar {
  height: 100vh;
}

#map {
  height: 100%;
  z-index: 1;
}

.map-container {
  height: 400px;
}

.nav-link {
  padding-right: 1em;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif ;
  background-color: rgb(210, 220, 226);
  background-size: cover;
  cursor: default;
}
.contributorRow{
  background-color:  rgb(210, 220, 226);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  background: #6cf;
}

* {
  box-sizing: border-box;
}

#sidebar {
  color: white;
}


.row {
  margin-bottom: 0%;
}

#header {
  opacity: 0.9;
}

#main-content {
  z-index: -1 !important;
}

#modal1 {
  color: black;
}
span {
  font-size: medium !important;
  margin: 0;
}

#quote {
  opacity: 1 !important;
}
.card-title{
  font-weight: bolder;
}



/* emailUS button effects and settings */
#emailUS {
  display: block;
  margin: auto;
  width: 120px;
  height: 30px;
  background: url("./images/emailme.gif");
}

#emailUS:hover {
  background-position: 0 40px;
}
.btn{
margin:1px;
font-size: medium;

}

/* styling for various screen sizes

@media (max-width: 1200px) {
  .btn {
    font-size: 12px;
    margin: 1px;
    padding: 0px 15px;
    color:white;
    display: center;
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 1em;
    margin-top:1px;
    
  }
}*/
